#sky {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 3s ease;
}
#sky.visible {
    background-color: var(--blue-night);
}

#ground{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    z-index: 50;
}
#ground.visible {
    transform: translateY(0%);
}


#tree1 {
    position: fixed;
    bottom: 5vw;
    right: 0;
    width: 21vw;
    transform: translateX(100%);
    z-index: 51;
}

#tree2,
#tree3 {
    position: fixed;
    bottom: 7vw;
    left: 0;
    width: 25vw;
    transform: translateX(-100%);
    z-index: 51;
}

#tree3 {
    bottom: 9vw;
    width: 30vw;
}

#mountains {
    position: fixed;
    bottom: 27vw;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    z-index: 10;
}
#houses {
    position: fixed;
    bottom: 24vw;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    z-index: 11;
}

#moon {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    mix-blend-mode: lighten;
    width: 35vw;
    visibility: hidden;
    z-index: 0;
}

#truck {
    position: fixed;
    bottom: 18vw;
    left: 0;
    transform: translateX(-100%);
    width: 31vw;
    /*transition: left 1s ease;*/
    z-index: 50;
}

#text {
    z-index: 100;
    position: fixed;
    top: 60px;
    width: clamp(500px, 30vw, 600px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.5;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(2rem, 5vw, 3rem);
    transition: all 3s ease;
    opacity: 0;
    text-shadow: 0px 1px 13px #fff;
}
#text.visible {
    opacity: 1;
}

#video-container {
    position: fixed;
    bottom: 50px;
    left: 68vw;
    z-index: 50;
    width: 21vw;
    mix-blend-mode: multiply;
    /*border: 3px solid #666;*/
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0;
    transition: opacity 3s ease;
}
#video-container.visible {
    opacity: 1;
}

#video-player {
    width: 100%;
}
